.project_card {
  padding: 1em;
  border: 1px solid #424242;
  border-radius: 5px;
  width: 24%;
  margin: 0.5%;
  background-color: #f1f8e9;
}

.project_card h4 {
  background-color: #0d47a1;
  color: #f1f8e9;
  padding: 0.4em;
  margin-bottom: 1.3em;
  font-size: 1.3em;
  text-align: center;
}

.project_card p {
  color: #424242;
  margin-bottom: 1em;
}

.project_card p span {
  font-weight: bold;
}

.category_text {
  display: flex;
  align-items: center;
}

.category_text span {
  display: block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin-right: 5px;
}

.category_text .Ração {
  background-color: #009688;
}

.category_text .Medicamento {
  background-color: #e65100;
}

.project_card_actions {
  margin-top: 1.2em;
  display: flex;
  align-items: center;
}

.project_card_actions a,
.project_card_actions button {
  text-decoration: none;
  border: none;
  background-color: #f1f8e9;
  color: #424242;
  font-size: 0.9em;
  padding: 0.6em 1em;
  margin-right: 1em;
  cursor: pointer;
  border: 1px solid #424242;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.5s;
}

.project_card_actions svg {
  margin-right: 0.5em;
}

.project_card_actions a:hover,
.project_card_actions button:hover {
  background-color: #424242;
  color: #f1f8e9;
}
