.home_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.home_container h1 {
  font-size: 3em;
  margin-bottom: 1%;
}

.home_container h1 span {
  color: #ffbb33;
  padding: 0 0.2em;
  background-color: #212121;
}

.home_container p {
  margin-bottom: 1%;
  color: #212121;
  font-size: 1.3em;
}

.home_container img {
  width: 18%;
}

.home_container footer {
  margin-top: 5%;
}
