.footer {
  background-color: #1e88e5;
  color: #f1f8e9;
  padding: 4em;
  text-align: center;
  width: 100%;
  bottom: 0;
  left: 0;
  /* margin-top: 2em; */
  position: relative;
}

.social_list {
  display: flex;
  justify-content: center;
  list-style-type: none;
}

.social_list li {
  margin: 0 1em;
}

.social_list li:hover {
  color: #ffbb33;
}

.social_list svg {
  font-size: 1.5em;
  cursor: pointer;
}

.copy_right {
  margin-top: 2em;
}

.copy_right span {
  font-weight: bold;
  color: #ffbb33;
}
