* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 'Open Sans', sans-serif;
}

html,
body,
#root {
  /* background: linear-gradient( #bdbdbd,#1e88e5); */
  height: 100%;
  background-color: #b0bec5;
  background-image: url('./img/estoque.webp');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
