* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 'Open Sans', sans-serif;
}

html,
body,
#root {
  /* background: linear-gradient( #bdbdbd,#1e88e5); */
  height: 100%;
  background-color: #b0bec5;
}
